.containar {
    height: 330px;
    width: 430px;
    background-color: rgb(255, 196, 2);
    border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   

}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    /* background-color: DodgerBlue; */
  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: 50%;
    margin: 0px;
    text-align: center;
    line-height: 700px;
    font-size: 12px;
  }

.containar:hover:hover{
    background-color:gold;
}

.innercontainer {
    height: 300px;
    width: 400px;
    background-color: rgba(241, 239, 239, 0.999);
    border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.innercontainer:hover:hover{
    background-color: whitesmoke;
}

.mostinnercontainer {

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.field {

    border-radius: 5px;
}
 .button{
  background-color:  rgb(255, 196, 2); 
  border-radius: 5px;
  width: 100px;
 }
 .button:hover:hover {
      color:white ;
 }
    
  
  .button:active{
    background-color:rgb(41, 150, 23) ;
  }

  .heading {
    color: black;
    position: relative;
    animation: mymove 3s infinite;
    
  }

  .heading:hover:hover{
    color:gold;
  }

  @keyframes mymove {
    from {left: 0px;}
    to {left: 43%;}
  }

  .active_color {
    color: white;
  }

  .active_color:hover{
     color: gold;
  }

  .active_color:active{
    color:rgb(41, 150, 23);
  }
  


  .text_container{
    width: 50%;
    height: 5%;
    color: white;
    /* border: 5px; */
    /* background-color: aqua; */
    
    position: absolute;
    bottom: 0;
    right: 0;

  }
  .nav_logo{
    margin-left: 42px;
    margin-right: 120px;
  }

  .full-width-field {
    width: 100%;
 }

 .font {
  font-family: Lato;
}