.button{
    background-color:  rgb(255, 196, 2); 
    border-radius: 5px;
    width: 100px;
   }
   .button:hover {
        color:blue ;
   }

   .button:active {
    color:green ;
}

   table.my-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  thead.my-table.headers tr th {
    border: white solid 3px;
    background-color: darkblue;
    color: white;
    height: 40px;
    font-family: Lato;
  }

  p {
    font-family: Lato;
  }

  .font {
    font-family: Lato;
  }

  .bg_color {
     height: auto;
     background:rgb(207, 252, 252);
  }
  
tbody.my-table.body tr td {
    border: black solid 1px;
    border-left: none;
    height: 25px;
  }
  
  tbody.my-table.body tr td.last {
    border-right: none;
  }
  
  tbody.my-table.body tr.active {
    background-color: gainsboro;
    cursor: pointer;
  }

  