<nav-root></nav-root>
<body>   
    <div class="outer_wall">
        <div class="side_margin top_margin">
            <h2>Conflict Minerals – Definition: Introduction: </h2>
        </div>
        <div class="side_margin ">
            <p>Conflict Minerals are raw materials or minerals sourced from regions where ongoing conflicts disrupt the extraction and trade of these resources. </p>
            <p>The primary conflict mineral law in the USA is Section 1502 of the Dodd-Frank Wall Street Reform and Consumer Protection Act, also known as the Dodd-Frank Act. This law was signed into effect in 2010. It requires companies listed on U.S. stock exchanges to disclose information about their use of conflict minerals, specifically tantalum, tin, tungsten, and gold (often referred to as the "3TG minerals"), if these minerals are necessary to the functionality or production of their products. </p>
        </div>
        <div class="side_margin">
            <h2>CMRT Rollup software automation Report: </h2>
            <ol>
                <li>Import CMRTs</li>
                <li>Manage Smelter Data </li>
                <li>Export the Unique list to update the CMRT “Smelter List” Sheet. </li>
                <li>Identification of RMI Status </li>
                <li>Export the list of supplier list for RMI status. </li>
                <li>Dash Board provide easy identification of Smelter id’s active status </li>
            </ol>
        </div>
        <div class="side_margin">
            <h2>About Key Sustainability Solutions Pvt Ltd: </h2>
        </div>
        <div class="side_margin">
            <p>We specialize in offering Compliance & Sustainability services tailored to enhance efficiency, boost productivity, and provide your business with a competitive advantage. Our team of experts possesses extensive skills and experience in their respective fields, guaranteeing the delivery of top-notch services to meet your needs. </p>
        </div>
        <div class="side_margin">
            <h2>Some of the key benefits of our services include. </h2>
        </div>
        <div class="side_margin">
            <ol>
                <li>
                    <p>Compliance services: Compliance with regulatory requirements and industry standards, Reduced risk of legal or financial penalties, Improved reputation through responsible business practices ( We provide support on <b>IMDS</b>, <b>CDX</b>, SCIP Database, REACH, ROHS, CMRT, EMRT, PRT, IPC1752A, AIS-129 many other regulations). We are authorised IMDS & CDX consulting partner by <b class="red_or_col">DXC technology</b>. </p>
                </li>
                <li>
                    <p>Sustainability services: Improved environmental performance and resource efficiency, Cost savings through waste reduction and energy conservation, Enhanced reputation and brand image through sustainable business practices. (CDP-Carbon Disclosure Project, ESG-Environmental Social Governance, Energy Audit, Water Assessment). </p>
                </li>
            </ol>
        </div>

    </div>
</body>
