<nav-root></nav-root><br>
<h2 class="field_margin font head_color">User List</h2>
<div class="col-12 col-md-12">
    <div>
        <table id="excel-table" class="my-table">
            <thead class="my-table headers">
                <tr>
                    <th>Sr.No.</th>
                    <th>Company Name</th>
                    <th>Supplier Name</th>
                    <th>Your Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody class="my-table body">
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>