<div class="outer_baground">
    <div class="outer_wall">
        <h1>Forgot Password</h1>
        <div>
            <input class="form-control form-control-lg" type="email" placeholder="Enter Registered Email Id" [(ngModel)]="Email" name="Email">
            <button class="btn btn_margin btn-dark btn-lg login_color">Send OTP</button>
        </div><br>
        <div>
            <input class="form-control form-control-lg" type="text" placeholder="Enter OTP" [(ngModel)]="oneTimePassword" name="oneTimePassword">
            <button class="btn btn_margin btn-dark btn-lg login_color">Verify Email</button>
        </div><br>
        <div>
            <div>
                <input class="form-control form-control-lg" type="text" placeholder="Enter New password" [(ngModel)]="NewPassword" name="NewPassword">
            </div><br>
            <div>
                <input class="form-control form-control-lg" type="text" placeholder="Confirm New Password" [(ngModel)]="ConfirmNewPassword" name="ConfirmNewPassword">
            </div>
            <div>
                <button class="btn btn_margin btn-dark btn-lg login_color">Submit</button>
            </div>
         </div>
    </div>
</div>
