.outer_wall {
    font-family: Lato;
    width: 600px;
    border: 15px solid gold;
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    background-color: rgb(219, 248, 246) ;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.btn_margin{
    margin-top: 10px;
 
}
