<body>
    <nav-root></nav-root>
    <br>
    <div class="flex_container"> &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="child4">
            <div class="row ">
                <p class="chart_heading">RMI Status</p>
                <div class="col-lg-18 ">
                    <canvas id="ColumnBar3" height="170vh" ></canvas>    
                </div>  
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="child2">    
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <br>
    <div class="flex_container">
         &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="child3">
            <div class="row ">
                <p class="chart_heading">Metals with RMI Status</p>
                <div class="col-lg-12">
                    <canvas id="ColumnBar2"></canvas>    
                </div>  
            </div>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;
         <div class="child1">
            <div class="row">
                <p class="chart_heading">RMI Type</p>
                <div class="col-lg-18">
                    <canvas id="ColumnBar1" height="280vh" ></canvas>    
                </div>  
            </div>
        </div> 
        &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <br>
</body>
